html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 20px;
}

.country-container {
  width: 50%;
  background-color: rgb(224, 227, 228);
}

.country-title {
  text-align: center;
}

li {
  list-style: none;
}

.list-style {
  list-style: square;
}

.country-input {
  padding: 10px;
  border-radius: 3px;
  width: 30%;
  border-color: rgb(224, 227, 228);
}

.country-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.country-img {
  max-width: 330px;
  object-fit: contain;
  display: block;
  margin-left: 30px;
}

.country-list {
  white-space: nowrap;
}
